<main>
    <h1>Perfil de Usuario</h1>
    <div id="user_info">
        <p>Nombre: <span id="firstname">{{firstname}}</span></p>
        <p>Apellido: <span id="lastname">{{lastname}}</span></p>
        <p>Correo: <span id="email">{{mail}}</span></p>
        <p>Edad: <span id="age">{{age}}</span></p>
        <p>Rol: <span id="role">{{role}}</span></p>
    </div>


    <button id="logout">CERRAR SESIÓN</button>
    <button id="toCart">IR AL CARRITO</button>
</main>

<script src="/js/current"></script>