<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.mail}}</td>
                <td>{{this.role}}</td>
                <td>
                    <form action="/changeRoleAdmi/{{this._id}}" method="POST">
                        <select name="newRole">
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                            <option value="premium">Premium</option>
                        </select>
                        <button type="submit">Actualizar Rol</button>
                    </form>
                    <form action="/deleteUser/{{this._id}}" method="DELETE">
                        <button type="submit">Eliminar Usuario</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
