<main>
    <h1>Perfil de Usuario</h1>
    <div id="user_info">
        <p>Nombre: <span id="firstname">{{firstname}}</span></p>
        <p>Apellido: <span id="lastname">{{lastname}}</span></p>
        <p>Correo: <span id="email">{{mail}}</span></p>
        <p>Edad: <span id="age">{{age}}</span></p>
        <p>Rol: <span id="role">{{role}}</span></p>
    </div>


    <button id="logout">CERRAR SESIÓN</button>
    <button id="toCart">IR AL CARRITO</button>
    <a href="/api/view/allProductsUser">Ver todos los Productos</a>
    <a href="/api/view/allProducts">Administrar todos los Productos</a>
    <a href="/api/view/allUsers">Administrar todos los Usuarios</a>
    <a href="/api/view/changeRoleAdmi">Cambiar Rol</a>
</main>

<script>
  // Función para cerrar sesión
  document.getElementById('logout').addEventListener('click', async () => {
    try {
      const response = await fetch('/api/session/logout', { 
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.href = '/api/view/login'
      } else {
        console.error('Error al cerrar sesión')
      }
    } catch (error) {
      console.error('Error al cerrar sesión:', error)
    }
  })

  // Función para redirigir al carrito
  document.getElementById('toCart').addEventListener('click', () => {
    window.location.href = '/api/cart/Cart1'
  })
</script>

