<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1>{{msg}}</h1>
    <ul>
        {{#each data}}
            <li id="product-{{this._id}}">
                {{ this.name }} - ${{ this.price }}
                <button onclick="agregarAlCarrito('{{this._id}}')">Agregar Producto</button>
            </li>
        {{/each}}
    </ul>

    <script>
        async function agregarAlCarrito(productId) {
            const cartId = '{{cartId}}'

            try {
                const response = await fetch(`/api/cart/agregarAlCarrito/${cartId}/${productId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    alert('Producto agregado al carrito');
                } else {
                    alert('Error al agregar el producto al carrito');
                }
            } catch (error) {
                console.error('Error al agregar el producto al carrito:', error);
                alert('Error al agregar el producto al carrito');
            }
        }
    </script>
</body>
</html>
